$footer-height: 75px;
$dim-color: #e4e4e4;
$text-color: #444;
$link-color: #0065c2;

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 20px/1.5 georgia, sans-serif;
    margin: 0 auto ($footer-height + 25) auto;
    padding: 0 1em;
    max-width: 960px;
    color: $text-color;
}

a {
    color: $link-color;
    text-decoration: none;
}

label {
    display: block;
    font-weight: bold;
}

input {
    font: inherit;
    margin-bottom: 1em;
    border: 1px solid $text-color;
    border-radius: .2em;
    height: 40px;
    padding: 0 10px;

    &[type=text] {
        width: 95%;
        max-width: 400px;
    }

    &[type=submit] {
        background: $dim-color;
    }
}

output {
    display: block;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    text-align: center;
    background: $dim-color;
    font-size: .9em;
}
