<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Hasher</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1><a href="~/">Online hasher</a></h1>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>
            Fork me on github
        </p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
